*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background : rgb(213, 249, 95);
    background: linear-gradient(90deg, rgb(235, 231, 160) 10%, rgb(229, 235, 80) 100%, rgba(81,81,224,1) 100%);
   
}

h1{
    margin-bottom: auto;
}

section{
    display: grid;
    grid-template-columns: repeat(4 , 8rem);
    grid-template-rows: repeat(4 , 8rem);
    grid-gap: 2rem;
    perspective : 800px;
   
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease;
    box-shadow: rgba(0 , 0 , 0 , .3) 0px 5px 16px;
}
.face , .back{
    width: 100%;
    height: 100%;
    position:absolute;
    pointer-events: none;
}

.back{
    background-color: white;
    backface-visibility: hidden;

}


.toggleCard{
    transform: rotateY(180deg);
}


#rbtn{
    width: 8rem;
    height: 2.5rem;
    font-size: 1.4rem;
    margin-top: 30px;
    background-color: rgb(62, 139, 227);
    color: white;
    border:none;
    outline: none;
    border-radius: 5%;
    box-shadow: rgba(0 , 0 , 0 , .3) 0px 5px 8px;
}


